<section class="container px-28 py-8">
    <div class="bg-white p-4 rounded-2xl h-screen  w-full">
        <div class="py-12">
            <h1 class="text-4xl text-[#605c5c] font-bold"> Tambah Jenis</h1>

        </div>
        <div>
            <form action="addJenis" method="post" id="formInput">
                <div class="w-96">
                    <div class="flex-col flex gap-2 py-2">
                        <label class="text-amber-800" for="jenis">Jenis name</label>
                        <input type="text" name="jenis" id="jenis" value=""
                            class="w-full  py-2 rounded-3xl  focus:outline-yellow-800 border-2 border-slate-300 px-3">
                    </div>
                    <div class="py-3">
                        <input type="submit"
                            class=" px-4 py-2 rounded-3xl bg-gradient-to-t from-yellow-700 border-2 border-slate-300 to-amber-700 text-white "
                            value="Submit">
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>