<div id="status"
    class="transition-all ease-in-out duration-500 w-full bg-red-300 border-2 border-orange-500 text text-red-900 p-4 "
    hidden></div>
<div class="container px-28 py-8">
    <div class="py-12">
        <h1 class="text-4xl text-[#605c5c] font-bold"> Tambah User</h1>

    </div>

    <hr>
    <form action="/excel" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <span>Belum Ada Template? <a class="text-blue-700 hover:text-fuchsia-600" href="./files/user.xlsx">Donwload
                template</a></span>
        <div class="relative pt-6 mt-4">
            <input type="file" name="excelFile" id="excelFile" accept=".xlsx" class="hidden"
                onchange="displayFileName(this)">
            <label for="excelFile"
                class="cursor-pointer bg-gradient-to-b from-stone-500 to-slate-600 shadow-md shadow-gray-500 text-white py-2 px-4 rounded-md inline-block">
                Pilih File Excel
            </label>
            <span id="fileName" class="ml-2 text-gray-600">
                Belum ada file dipilih
            </span>
        </div>



        <div class="py-2 pb-12 text-white font-bold">
            <input
                class="bg-gradient-to-br shadow-md shadow-green-700 from-lime-500 to-teal-600  px-4 py-2 rounded-lg cursor-pointer"
                type="submit" name="submit" id="submit" value="Open">
        </div>
    </form>

    <hr>

    <% if (locals.data) { %>
    <form action="/add" method="post">
        <div class="py-2 w-full flex justify-end">
            <div class="">
                <button onclick="return isSubmitData()"
                    class="  bg-gradient-to-b from-blue-400 to-sky-700 py-1 px-3 rounded-xl shadow-sm shadow-orange-300  text-white text-center cursor-pointer font-bold text-lg"
                    type="submit">
                    +
                    Submit

                </button>
            </div>
        </div>
        <div class="text-4xl text-[#605c5c] font-bold">
            <h1>list Kandidate User</h1>
        </div>
        <div class=" rounded-xl py-2 my-5  bg-slate-400 shadow-lg">

            <table class="w-full border-collapse ">
                <thead class="bg-slate-400 py-2 text-white">
                    <tr>
                        <th class="w-16">No</th>
                        <th>username</th>
                        <th>password</th>
                        <th>Status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <% data.forEach((user,index) => { %>
                    <tr class=" text-center even:bg-white odd:bg-slate-100 hover:bg-gray-200">
                        <td> <input class="w-full text-center bg-transparent" type="text" name="" value=<%=  index+1 %>>
                        </td>
                        <td><input class="w-full text-center bg-transparent" type="text" name="username"
                                value="<%= user.username %>"></td>
                        <td><input class="w-full text-center bg-transparent" type="text" name="password"
                                value="<%=  user.password %>"></td>
                        <td>
                            <% if (user.isAdmin===1) { %>
                            <% user.isAdmin='Admin' %>
                            <% }else { %>
                            <% user.isAdmin='User' %>
                            <% } %>
                            <input class="w-full text-center bg-transparent" type="text" name="isAdmin"
                                value="<%= user.isAdmin %>">
                        </td>
                        <td><button class="bg-orange-400 px-4 py-2 rounded-lg my-2 text-white">Hapus</button></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

    </form>
    <% } %>

</div>
<script>
    function validateForm() {
        var excelFile = document.getElementById("excelFile");
        if (excelFile.files.length === 0) {
            const error = document.createElement('p');
            error.innerText = 'Pilih file terlebih dahulu.';
            const status = document.getElementById('status')
            status.hidden = false;
            status.appendChild(error)
            return false;
        }

        return true;
    }

    function displayFileName(input) {
        const fileNameElement = document.getElementById('fileName');
        const fileName = input.files[0].name;
        fileNameElement.innerHTML = `<i class="far fa-file-excel mr-2"></i>${fileName}`;

        if (isValidFile(fileName)) {
            fileNameElement.innerHTML = `<i class="far fa-file-excel mr-2"></i>${fileName}`;
        } else {
            fileNameElement.innerHTML = 'File tidak valid. Harap pilih file .xlsx.';
            // Reset the input field
            input.value = '';
        }
    }

    function isValidFile(fileName) {
        const allowedExtensions = ['.xlsx'];
        const fileExtension = fileName.slice((fileName.lastIndexOf(".") - 1 >>> 0) + 2).toLowerCase();
        return allowedExtensions.includes('.' + fileExtension);
    }

    function isSubmitData() {
        if (window.confirm('Apakah Anda yakin menambahkan user?')) {
            return true;
        } else {
            return false;
        }
    }
</script>