<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/logo-PSC.png" type="image/x-icon">

    <% if (locals.title) { %>
        <title>
            <%= title %>
        </title>
        <% } else { %>
            <title>SIG | Critical Part</title>
            <% } %>
                <style>
                </style>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="grid grid-cols-1 md:grid-cols-6 h-screen bg-blue-50">

    <nav class="smd:col-span-1  bg-gradient-to-b from-[#605c5c] from-[2%] via-30%  via-[#482a2a]  to-[#2c2323] ">
        <div
            class="border-l-2  border-r-2 border-t-2  shadow-xl shadow-yellow-800 p-2 text-white flex flex-col font-mono font-extrabold text-lg min-h-full">

            <div class="pb-4">
                <div class="p-8">
                    <a href="/criticalPart">
                        <img src="/images/logo-PSC.png" alt="">
                    </a>
                </div>
            </div>
            <div class="h-12">

                <a class="transition duration-300  hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg  "
                    href="/criticalPart">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-2 h-4 md:w-4 md:h-6" viewBox="0 0 576 400">
                        <path fill="#ffffff"
                            d="M280.4 148.3L96 300.1V464a16 16 0 0 0 16 16l112.1-.3a16 16 0 0 0 15.9-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.6a16 16 0 0 0 16 16.1L464 480a16 16 0 0 0 16-16V300L295.7 148.3a12.2 12.2 0 0 0 -15.3 0zM571.6 251.5L488 182.6V44.1a12 12 0 0 0 -12-12h-56a12 12 0 0 0 -12 12v72.6L318.5 43a48 48 0 0 0 -61 0L4.3 251.5a12 12 0 0 0 -1.6 16.9l25.5 31A12 12 0 0 0 45.2 301l235.2-193.7a12.2 12.2 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0 -1.7-16.9z" />
                    </svg>
                    Home
                </a>
            </div>
            <div class="">
                <div id="h-12 px-4 w-full">
                    <button
                        class="px-2 w-full transition-all ease-out  duration-300 hover:border-purple-600 hover:bg-violet-700  py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent hover:rounded-lg"
                        onclick="handleMenu('user')"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                            class="w-2 h-4 md:w-4 md:h-6">
                            <path fill="#ffffff"
                                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>User</button>
                    <div onclick="handleMenu('user')" id="user"
                        class="ml-12  transition-all duration-300 ease-in-out hidden">
                        <div class="flex flex-col">
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/user">List User</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/addUser">Add User</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="h-12 px-4 w-full">
                    <button
                        class="px-2 w-full transition-all ease-out  duration-300 hover:border-purple-600 hover:bg-violet-700  py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent hover:rounded-lg"
                        onclick="handleMenu('criticalPart')"> <svg xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512" class="w-2 h-4 md:w-4 md:h-4">
                            <path fill="#ffffff"
                                d="M64 0C28.7 0 0 28.7 0 64V416c0 35.3 28.7 64 64 64H80l16 32h64l16-32H400l16 32h64l16-32h16c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM224 320a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-240a160 160 0 1 1 0 320 160 160 0 1 1 0-320zM480 221.3V336c0 8.8-7.2 16-16 16s-16-7.2-16-16V221.3c-18.6-6.6-32-24.4-32-45.3c0-26.5 21.5-48 48-48s48 21.5 48 48c0 20.9-13.4 38.7-32 45.3z" />
                        </svg>Critical Part</button>
                    <div onclick="handleMenu('criticalPart')" id="criticalPart"
                        class="ml-12  transition-all duration-300 ease-in-out hidden">
                        <div class="flex flex-col">
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/criticalPart">List CP</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/permintaan">Add CP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="h-12 px-4 w-full">
                    <button
                        class="px-1 w-full transition-all ease-out  duration-300 hover:border-purple-600 hover:bg-violet-700  py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent hover:rounded-lg"
                        onclick="handleMenu('barang')"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="27"
                            viewBox="0 0 576 512">
                            <path fill="#ffffff" class="w-2 h-4 md:w-4 md:h-6"
                                d="M248 0H208c-26.5 0-48 21.5-48 48V160c0 35.3 28.7 64 64 64H352c35.3 0 64-28.7 64-64V48c0-26.5-21.5-48-48-48H328V80c0 8.8-7.2 16-16 16H264c-8.8 0-16-7.2-16-16V0zM64 256c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H224c35.3 0 64-28.7 64-64V320c0-35.3-28.7-64-64-64H184v80c0 8.8-7.2 16-16 16H120c-8.8 0-16-7.2-16-16V256H64zM352 512H512c35.3 0 64-28.7 64-64V320c0-35.3-28.7-64-64-64H472v80c0 8.8-7.2 16-16 16H408c-8.8 0-16-7.2-16-16V256H352c-15 0-28.8 5.1-39.7 13.8c4.9 10.4 7.7 22 7.7 34.2V464c0 12.2-2.8 23.8-7.7 34.2C323.2 506.9 337 512 352 512z" />
                        </svg>Barang</button>
                    <div onclick="handleMenu('barang')" id="barang"
                        class="ml-12  transition-all duration-300 ease-in-out hidden">
                        <div class="flex flex-col">
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/barang">List barang</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/addBarang">Add Barang</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/addBarang">Kategori</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/addBarang">Jenis</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/addBarang">Mrp</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/addBarang">Uom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="h-12 px-4 w-full">
                    <button
                        class="px-2 w-full transition-all ease-out  duration-300 hover:border-purple-600 hover:bg-violet-700  py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent hover:rounded-lg"
                        onclick="handleMenu('unit')"><svg xmlns="http://www.w3.org/2000/svg" height="24" width="21"
                            viewBox="0 0 448 512">
                            <path fill="#ffffff"
                                d="M243.6 91.6L323.7 138.4C326.6 140 326.7 144.6 323.7 146.2L228.5 201.9C225.6 203.6 222.2 203.4 219.5 201.9L124.4 146.2C121.4 144.6 121.4 140 124.4 138.4L204.4 91.6V0L0 119.4V358.3L78.4 312.5V218.9C78.3 215.6 82.2 213.2 85.1 215L180.3 270.6C183.2 272.3 184.8 275.3 184.8 278.5V389.7C184.8 393 181 395.4 178.1 393.6L98 346.8L19.6 392.6L224 512L428.4 392.6L350 346.8L269.9 393.6C267.1 395.3 263.1 393.1 263.2 389.7V278.5C263.2 275.1 265.1 272.2 267.7 270.6L362.9 215C365.7 213.2 369.7 215.5 369.6 218.9V312.5L448 358.3V119.4L243.6 0V91.6z" />
                        </svg>
                        Unit</button>
                    <div onclick="handleMenu('unit')" id="unit"
                        class="ml-12  transition-all duration-300 ease-in-out hidden">
                        <div class="flex flex-col">
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/unit">List Unit</a>
                            <a class="transition-transform  duration-150 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg"
                                href="/addUnit">Add Unit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-red-500  fixed left-0 bottom-0">
                <form action="logout" method="post">
                    <button type="submit"
                        class=" transition duration-300 hover:border-purple-600 hover:bg-violet-700 ease-in py-2 flex gap-2 md:gap-4 hover:border-2 border-2 border-transparent px-2  hover:rounded-lg align-bottom   px-1- natch">logout</button>
                </form>
            </div>
        </div>
        </div>

    </nav>

    <main class="md:col-span-5  ">
        <%- body %>
    </main>

</body>

</html>
<script>
    function handleMenu(menu) {
        const itemMenu = document.getElementById(menu)

        itemMenu.classList.toggle('hidden')
        itemMenu.classList.toggle('block')
        itemMenu.classList.toggle('bg-amber-900')
        itemMenu.classList.toggle('bg-opacity-50')
        itemMenu.classList.toggle('rounded-xl')
    }
</script>